<!DOCTYPE html>
<html>
<head>
    <title> number </title>
</head>

<body>
  <div>
    <form action="mathFacts" method='GET'>
      Enter a number: <input type="text" name="number">
    </form>
  </div>
</body>
</html>