<!DOCTYPE html>
<html>
<head>
    <title> latitude and longitude </title>
</head>

<body>
    <form action="results" method='POST'>
      <li> Enter a latitude: <input type="text" name="latitude"></li>
      <li> Enter a longitude: <input type="text" name="longitude"></li>
      <button type="submit"> Enter </button>
      <input type="reset" name = "reset" id = "reset">
    </form>
  </div>
</body>
</html>


