<!DOCTYPE html>
<html>
<head>
  <title>My Labs</title>
</head>

<body>
<div>
    <div>
        <h3>Click on any of my labs below:</h3>
        <li><a href="https://user.tjhsst.edu/2023skota/madlibs">madlibs</a></li>
        <li><a href="https://user.tjhsst.edu/2023skota/numbers/numberform"> number facts   </a> </li>
    </div>
</div>
  </body>
</html>