<!DOCTYPE html>
<html>
<head>
    <title> latitude and longitude </title>
</head>

<body>
  <div>
    <form action="results" method='GET'>
      <li> Enter a latitude: <input type="text" name="latitude"> </li> 
      <li> Enter a longitude: <input type="text" name="longitude"> </li> 
      <button type="submit"> Enter </button>
    </form>
  </div>
</body>
</html>


