<!DOCTYPE html>
<html>
<head>
  <title>Verification</title>
</head>
<body>
  <p>You are totally verified.</p>
  <p>
  Hello there: <%= display_name %><br>
  Click here for cookie clicker: <a href="https://user.tjhsst.edu/2023skota/cookies/clickpage"> cookies </a> 
  <br>
  Click here to vote: <a href="https://user.tjhsst.edu/2023skota/voting/selection"> voting </a>
  </p>
</body>
</html>