<!DOCTYPE html>
<html>
<head>
    <link href="/2023skota/css/style.css" rel="stylesheet">
    <title> Logout </title>
</head>

<body>
        <h3> You are logged out. </h3>
        <li><a href="https://user.tjhsst.edu/2023skota/cookies/clickpage" id="return-link"> Return to cookies! </a> </li>
  </body>
</html>