<!DOCTYPE html>
<html>
<head>
    <link href="/2023skota/css/style.css" rel="stylesheet">
    <title>The Home Page</title>
</head>

<body>
    
        <h3> you are logged in. </h3>
        <li><a href="https://user.tjhsst.edu/2023skota/mylabs">my labs   </a> </li>
  </body>
</html>